.slideshow{
    width: 100%;
    height: 40rem;
    border: 1px solid black;
    position: relative;
    transition: .3s ease-in-out;

    #prev, #next{
        position: absolute;
        height: 40rem;
        width: 5%;
        background-color: rgba($color-black-300, .5);
        padding-top: 18rem;
        font-size: 3rem;
        cursor: pointer;
    }
    #prev{
        top: 0;
        left: 0;
        padding-left: 1rem;
    }
    #next{
        top: 0;
        right: 0;
        padding-left: 1rem;
    }

    .slide{
        display: none;
    }

    .slide-count{
        position: absolute;
        bottom: 2rem;
        left: 5rem;
        width: 10rem;
        height: 4rem;
        border: 1px solid white;
        background-color: rgba($color-black-300, .75);
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        @include font-base($font-size:1.25rem, $color:$color-white);
        i{
            font-size: 1.2rem;
            color: $color-white;
        }
    }
    .slide.active{
        z-index: -1;
        display: inline;
        img{
            width: 100%;
            height: 40rem;
        }
    }
}