
@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}


// Font Mixins
@mixin font-base($font-size: $fs-base, $font-weight: $fw-base, $color: $color-black){
    font: {
        family: $ff-base;
        size: $font-size;
        weight: $font-weight
    }
    color: $color;
    letter-spacing: 1px;
}

@mixin font-alt($font-size: $fs-base, $font-weight: $fw-base, $color: $color-1, $letter-spacing: $letter-space){
    font: {
        family: $ff-alt;
        size: $font-size;
        weight: $font-weight;
    }
    letter-spacing: $letter-spacing;
    color: $color;
    text-transform: uppercase;
}

@mixin font-secondary($font-size: $fs-3, $font-weight: $fw-base, $color: $color-1, $letter-spacing: $letter-space, $transform: capitalize){
    font: {
        family: $ff-secondary;
        size: $font-size;
        weight: $font-weight;
    }
    text-shadow: $font-shadow;
    text-transform: $transform;
    letter-spacing: $letter-spacing;
}


@mixin background-image(){
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin btn-hover-effect{
    transition: .3s ease-in;

    &:hover{
        transform: translateY(-5px) scaleX(1.1);
        box-shadow: 3px 3px 6px rgba(0,0,0, .75);
    }

    &:active{
        transform: translateY(-1px) scaleX(.95);
        box-shadow: 1px 1px 2px rgba(0,0,0, .75);
    }
}
@mixin btn-card{
    text-align: center;
    border: 2px solid $color-green-600;
    border-radius: .5rem;
    color: $color-green-600;
    background-color: $color-green-200;
}